@tailwind components;

@tailwind utilities;

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.brand-img {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    overflow: hidden;
    text-align: center;
}

.socialbtn {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 246 246 / var(--tw-bg-opacity));
    --tw-gradient-from: #16BAC5;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #5FBFF9;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialbtn:hover {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-home {
    background-image: url('./bg.png');
}